.audioPlayer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #363636;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.playButton {
    background-color: #563cff;
    width: 40px;
    height: 40px;
    border: none;
    color: white;
    /* padding: 10px 20px; */
    padding-top: 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.playButton:hover {
    background-color: #005bb5;
}

.progressContainer {
    flex: 1;
    height: 8px;
    background: #ddd;
    cursor: pointer;
    margin: 0 20px;
    position: relative;
    border-radius: 5px;
    transform: rotateX('180deg')
}

.progressBar {
    height: 100%;
    background: #0070f3;
    width: 0;
    border-radius: 5px;

}

.time {
    font-size: 14px;
    width: 65px;
    color: rgb(221, 221, 221);
}
